@{
  ViewData["Title"] = "Animals";
}

<h1>our pets</h1>

<h3>do what now:</h3>

<p>@Html.ActionLink("found a new one", "Create")</p>

<h3>pets:</h3>
<ol>
  @foreach (Animal animal in Model)
  {
    <li><strong>@animal.Name</strong> the @animal.Species | <a href="/Animals/Details/@(animal.AnimalId)">lookit</a>
    </li>
  }
</ol>